<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Curso JS</title>
</head>
<body>
    <header class="header" id="headeruwu">
        <div class="container logo-nav-container">
            <a href="/" class="logo">
                <img src="../components/JavaScript-logo.png" alt="Logo" height="40">
            </a>
            
            <nav class="navigation">
             <ul> 
                 <li><a href="/"> Inicio</a></li>
                 <li><a href="/variables"> Nivel Bajo</a></li>
                 <li><a href="/nivelmedio"> Nivel Medio</a></li>
                 <li><a href="/about"> Contacto</a></li>
                 <li><button class="imgbuton" id="bdark"><img src="icon.png" height="40px"></button></li>
             </ul>
            </nav>
        </div>

        <script>
            const bdark = document.querySelector("#bdark");
            const body = document.querySelector("body");

            load();

            bdark.addEventListener("click", e => {
                body.classList.toggle("darkmode");
                store(body.classList.contains("darkmode"));
            });
            

            function load() {
                const darkmode = localStorage.getItem("darkmode");

                if(!darkmode) {
                    store("false")
                } else if(darkmode == "true") {
                    body.classList.add("darkmode");
                }
            }
                
            

            function store (value) {
                localStorage.setItem("darkmode", value);
            }
            
            </script>
       </header>

</body>
</html>