<%- include ("components/header.ejs") -%>

<div class="container error404" style="height: 100vh">
    <h2>404</h2>
    <h1>Ops! No hay nada aquí...</h1>
    <a href="/"><button>Clic aquí para volver al inicio</button></a>
</div>

<%- include ("components/footer.ejs") -%>
