<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include("./components/header.ejs") -%>
<main class="main">
<body>
    <h1 class="var">Contactos:</h1>
    <h3 class="var">Gmail: jroschge@escuelasproa.edu.ar</h3>
    <h3 class="var">Discord: Velikaz#5000</h3>
    <h3 class="var">Instagram: @jeremias.roschge3</h3>
</body>
</main>
<%- include("./components/footer.ejs") -%>
</html>